.cal{
      height: 365px;
      width: 313px;
      border: 3px solid black;
      margin: auto;
}
.t1{
     width: 306px;
     height: 70px;
     border: 2px solid black;
     font-size: 25px;
     font-weight: bold;
     text-align: right;
     background-color: skyblue;
     
}
.btn1{
      height: 50px;
      width: 154.5px; 
      font-weight: bold;
      background-color: orangered;
      font-size: 17px;
     
}
.btn2{
      height: 50px;
      width: 154.5px;
      font-weight: bold;
      background-color: orangered;
      font-size: 17px;
      
}
.btn{
      height: 50px;
      width: 65px;
      font-weight: bold;
      font-size: 20px;
      margin: 5px;
      background-color: green;
      
}