#c1{
      margin-left: 90%;
      
}
.d1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.m1{
       margin-top: 50px;
}
.img{
       height: 200px;
}
.img2{
       height: 225px;
}
.img3{
       height: 250px;
}
.img4{
       height: 225px;
}
.card{
       margin-top: 40px;
}
.img5{
       height: 225px;
}
.img6{
       height: 305px;
}
.img7{
       height: 280px;
}
.img8{
       height: 255px;
}
.img9{
       height: 230px;
}
.img10{
       height: 255px;
}
.c1:hover{
       color: yellow;
}
.kart{
       height: 30px;
}
.carom{
       height: 230px;
}
.real{
       height: 255px;
}
.lofer{
       height: 280px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}