#c1{
      margin-left: 90%;
      
}
.d1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img{
       height: 200px;
}
.img2{
       height: 220px;
}
.img3{
       height: 250px;
}
.img4{
       height: 225px;
}
.card{
       margin-top: 40px;
}